.App-header {
  background-color: rgb(246, 68, 115); /* Schimbați culoarea fundalului */
  color: #be2a2a; /* Schimbați culoarea textului */
  font-size: 24px; /* Schimbați dimensiunea fontului */
  text-align: center; /* Aliniați textul în centru */
}
